.startup {
height: 95vh;
display: flex;
align-items: center;
flex-direction: column;
justify-content: center;
background: url("Road_signs/atl_image.jpg");
background-size: cover;
color: white;
}


.dds-practice-button {
width: 300px;
height: 50px;
background: grey;
color: white;
font-size: 1.3em;
border-radius: 5px;
}

.dds-practice-button:hover {
color: grey;
background: white;
}

.skills-test-button {
width: 300px;
margin: 30px;
height: 50px;
background: grey;
color: white;
font-size: 1.3em;
border-radius: 5px;
}

.skills-test-button:hover {
color: grey;
background: white;
}